@mixin square($color) {
    background-color: $color;
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-bottom: 20px;

}

.types-colors{
    display: flex;
    justify-content: space-evenly;
    margin-top: 145px;
    margin-bottom: 145px;
    @media screen and (max-width: 1150px){
        display: block;
        margin-left: 10vw;
        
    }
    
}
.colors{

    @media screen and (max-width: 1150px){
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 145px;
        
    }    
}
.block-with-square{
    display: flex;
    flex-basis: 50%;
    @media screen and (max-width: 760px){
        flex-basis: 100%;
    }
}

// .types{
//     margin-top: 145px;
// }

.color-block_dark-shade-100{
    @include square(#1F2041);
}
.color-block_dark-shade-75{
    @include square(rgba(31, 32, 65, 0.75));
}
.color-block_dark-shade-50{
    @include square(rgba(31, 32, 65, 0.5));
}
.color-block_dark-shade-25{
    @include square(rgba(31, 32, 65, 0.25));
}
.color-block_dark-shade-5{
    @include square(rgba(31, 32, 65, 0.05));
}
.color-block_purple{
    @include square(#BC9CFF);
}
.color-block_green{
    @include square(#6FCF97);
    margin-bottom: 0;
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}




.text{
    flex-direction: column;
    margin-left: 40px;

    h2{
        margin: 0;
        margin-top: 7px;
    }

    span{
        margin-bottom: 0px;
    }
}

.logo{
    margin-top: 30px;
    margin-left: 30px;
}


.type__container{
    display: flex;
}
.type__text{
    height: 60px;
    width: 336px;
}
.type__letter{
    height: 30px;
    width: 29px;
    margin-right: 30px;
}
.types__letter-h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: right;

    /* Dark 25% */

    color: rgba(31, 32, 65, 0.25);
}

.types__text-first{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    
    /* Dark 100% */
    
    color: #1F2041;
    
}

.types__letter-h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    /* identical to box height */

    text-align: right;

    /* Dark 25% */

    color: rgba(31, 32, 65, 0.25);
}

.types__letter-h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: right;
    text-transform: uppercase;

    /* Dark 25% */

    color: rgba(31, 32, 65, 0.25);
}

.types__text-first{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    
    /* Dark 100% */
    
    color: #1F2041;
}
.types__text-second{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #1F2041;
}
.types__text-third{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    color: #1F2041;
}

.types__text-fourth{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    
    /* Dark 75% */
    
    color: rgba(31, 32, 65, 0.75);  
}

.types__body{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: right;

    /* Dark 25% */

    color: rgba(31, 32, 65, 0.25);
}