// start styles of TEXT-FIELD

.text-field-default{

    .text-field__text{
        margin: 0;
        margin-bottom: 5px;
    }
    .text-field__input{
        box-sizing: border-box;
        width: 320px;
        height: 44px;
        padding-left: 15px;

        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);

        border-radius: 4px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
    
        color: rgba(31, 32, 65, 0.75);
    }
    .text-field__input::placeholder{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
    
        color: rgba(31, 32, 65, 0.25);
    }
    .text-field__input:hover, .text-field__input:focus, .text-field__input:active{
        border: 1px solid rgba(31, 32, 65, 0.5);
        outline: none;
    }
}
// end styles of TEXT-FIELD


// start styles of DROPDOWN
.dropdown{
    width: 320px;

    .dropdown__head {
        display: flex;
        justify-content: space-between;

        width: 320px;
        height: 44px;

        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 15px;
        line-height: 44px; 

        color: rgba(31, 32, 65, 0.75);

        &:hover, &:focus, &:active{
            cursor: default;
            border: 1px solid rgba(31, 32, 65, 0.5);
            outline: none;
        }

        .dropdown__arrow {
            width: 7px;
            height: 7px;
        
            border-top: 2px solid rgba(31, 32, 65, 0.75);
            border-right: 2px solid rgba(31, 32, 65, 0.75);
            transform: rotate(135deg);
        
            margin-top: 13px;
            margin-right: 15px;
        }  
    }

    .dropdown__head-active{
        border: 1px solid rgba(31, 32, 65, 0.5);
        border-radius: 4px 4px 0px 0px;
    }
    .dropdown__head-nonactive{
        border: 1px solid rgba(31, 32, 65, 0.25);
    }

    .dropdown__menu{
        position:absolute;
        width: 320px;
        //height: 159px;
        display: none;

        padding-top: 6px;
        padding-bottom: 13px;

        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.5);
        border-top: 0px solid; 
        box-sizing: border-box;
        border-radius: 0px 0px 4px 4px;
        

        z-index: 1000;

        &:hover, &:focus, &:active{
            border: 1px solid rgba(31, 32, 65, 0.5);
            border-top: 0px solid red; 
            outline: none;
        }

        .dropdown__wrapper{
            margin-left: 15px;
            margin-right: 7px;


            .dropdown__item{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .dropdown__text{  
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 15px;
                    text-transform: uppercase;        
                    color: #1F2041;

                    &:hover, &:focus, &:active{
                        cursor: default;
                    }

                }

                .dropdown__wrapper-counter{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 92px;

                    .dropdown__circle{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        width: 30px;
                        height: 30px;
                        border: 1px solid rgba(31, 32, 65, 0.25);
                        box-sizing: border-box;
                        border-radius: 22px;

                        &:hover, &:focus, &:active{
                            cursor: pointer;
                        }

                        .dropdown__minus{   
                            height: 2px;    
                            width: 10px;
                            background-color: rgba(31, 32, 65, 0.25);

                            &:hover, &:focus, &:active{
                                cursor: pointer;
                            }
                        }

                        .dropdown__plus{   
                            height: 2px;    
                            width: 10px;
                            background-color: rgba(31, 32, 65, 0.25);

                            &:hover, &:focus, &:active{
                                cursor: pointer;
                            }
                        }
                        .dropdown__plus:first-child{
                            transform: rotate(90deg);
                            position: absolute;
                        }

                    }

                    .dropdown__circle-active{
                       
                        border: 1px solid rgba(31, 32, 65, 0.25);
 
                        .dropdown__minus{   
                            background-color: rgba(31, 32, 65, 0.25);
                        }

                        .dropdown__plus{   
                            background-color: rgba(31, 32, 65, 0.25);
                        }
                    }

                    .dropdown__circle-nonactive{
                        border: 1px solid rgba(31, 32, 65, 0.10);
 
                        .dropdown__minus{   
                            background-color: rgba(31, 32, 65, 0.1);
                        }

                        .dropdown__plus{   
                            background-color: rgba(31, 32, 65, 0.1);
                        }
                    }
                    


                    .dropdown__counter{
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 15px;
                        text-align: center;
                        text-transform: uppercase;
                        color: #1F2041;

                        outline: none;
                        border: none;

                        max-height: 15px;
                        max-width: 15px;

                        &:hover, &:focus, &:active{
                            cursor: default;
                        }
                    }

                }
            }

            .dropdown__footer{
                display: flex;
                justify-content: space-between;      
                margin-top: 19px;

                .dropdown__btn-clear{
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 15px;
                
                    text-transform: uppercase;
                
                    color: rgba(31, 32, 65, 0.5);

                    &:hover, &:focus, &:active{
                        cursor: pointer;
                        color: rgba(18, 19, 66, 0.5);
                    }

                    
                }
                .dropdown__btn-clear-nonactive{
                    visibility: hidden;
                }

                .dropdown__btn-accept{
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 15px;
                    
                    border: none;
                    text-transform: uppercase;

                    color: #BC9CFF;
                    background-color: white;
                    
                    outline: none;
                    border: none;

                    max-height: 15px;
                    max-width: 90px;

                    &:hover, &:focus, &:active{
                        cursor: pointer;
                        color: #a47cfc;
                    }
                }

            }
        }

    }

    
}
// end styles of DROPDOWN

// start styles of DROPDOWN date
.date-dropdown{


    .date-dropdown__head{

        position: relative;
        box-sizing: border-box;

        width: 150px;
        height: 44px;
        padding-left: 15px;

        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;

        background: #FFFFFF;
        line-height: 18px;
        color: Dark 75%;

        &:hover, &:focus, &:active{
            cursor: default;
            border: 1px solid rgba(31, 32, 65, 0.5);
            outline: none;
        }

        .date-dropdown__head__text{
            position: absolute;
            top: 50%;

            margin-top: -9px; // minus half of line height
            display: inline-block;
            
        }

        .date-dropdown__head__arrow{
            position: absolute;
            top: 50%;
            right: 15px;

            margin-top: -5px;
            width: 7px;
            height: 7px;

            border-top: 2px solid rgba(31, 32, 65, 0.75);
            border-right: 2px solid rgba(31, 32, 65, 0.75);
            transform: rotate(135deg);
        }
    }
    .date-dropdown__calendar{
        width: 320px;
        min-height: 369px;
        height: 1px;
        padding: 0% 2%;
        box-sizing: border-box;

        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        border-radius: 4px;


        .date-dropdown__month{
            position: relative;

            display: flex;
            justify-content: center;

            height: 15%;

            .date-dropdown__month-name{
                position: absolute;
                top: 50%;

                margin-top: -12px;

                font-weight: 700;
                size: 19px;
                line-height: 24px;
                cursor: default;
            }

            .date-dropdown__arrow-left{
                position: absolute;
                top: 50%;
                left: 0%;

                width: 22px;
                height: 22px;
                margin-top: -11px; // minus half of height
                
                cursor: pointer ;

                .date-dropdown__arrow-left__tail{
                    position: absolute;
                    top: 50%;
                    
                    width: 20px;
                    height: 2px;

                    background-color: #BC9CFF;
                    

                    &::after{
                        content: '';
                        position: absolute;
                        top: -4.5px;
                        left: -2px;

                        width: 14px;
                        height: 2px;

                        background-color: #BC9CFF;
                        transform: rotate(-45deg);
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        top: 4.5px;
                        left: -2px;

                        width: 14px;
                        height: 2px;
                        
                        background-color: #BC9CFF;
                        transform: rotate(45deg);
                    }
                }
            }
            .date-dropdown__arrow-right{
                position: absolute;
                top: 50%;
                right: 0%;

                width: 22px;
                height: 22px;
                margin-top: -11px; // minus half of height
                
                cursor: pointer ;

                .date-dropdown__arrow-right__tail{
                    position: absolute;
                    top: 50%;
                    
                    width: 20px;
                    height: 2px;

                    background-color: #BC9CFF;
                    

                    &::after{
                        content: '';
                        position: absolute;
                        top: -4.5px;
                        right: -2px;

                        width: 14px;
                        height: 2px;

                        background-color: #BC9CFF;
                        transform: rotate(45deg);
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        top: 4.5px;
                        right: -2px;

                        width: 14px;
                        height: 2px;
                        
                        background-color: #BC9CFF;
                        transform: rotate(-45deg);
                    }
                }
            }

            
        }

        .date-dropdown__week-days{
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            height: 10%;

            @mixin week-day() {
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: 40px;
                max-height: 40px;

                border: 0px solid black;

                text-align: center;
                color: #BC9CFF;
                font-weight: 700;
                line-height: 14px;
                font-size: 12px;
                background-color: white;
                cursor: default;
                
            }
            .date-dropdown__mon{
                @include week-day();
            }
            .date-dropdown__tue{
                @include week-day();
            }
            .date-dropdown__wed{
                @include week-day();
            }
            .date-dropdown__thu{
                @include week-day();
            }
            .date-dropdown__fri{
                @include week-day();
            }
            .date-dropdown__sat{
                @include week-day();
            }
            .date-dropdown__sun{
                @include week-day();
            }

            
        }

        .date-dropdown__dates{
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-row-gap: 2px;
            max-height: 60%;


            .date-dropdown__date{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                max-width: 40px;
                min-height: 40px;

                border-radius: 30px;

                cursor: pointer;
                background: white;
            }
            .date-dropdown__date-last-month{
                color: rgba(31, 32, 65, 0.25);
            }
            .date-dropdown__date-active{
                color: white;
                background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
            }

        }
        .date-dropdown__btns{
            position: relative;

            height: 10%;
        
            @mixin btn {
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                
                border: none;
                text-transform: uppercase;

                color: #BC9CFF;
                background-color: white;
                
                outline: none;
                border: none;

                max-height: 15px;
                max-width: 90px;

                &:hover, &:focus, &:active{
                    cursor: pointer;
                    color: #a47cfc;
                }
            }
            .date-dropdown__btn-clear{
                position: absolute;
                top: 40%;

                @include btn();
            }
            .date-dropdown__btn-accept{
                position: absolute;
                top: 40%;
                right: 0;


                @include btn();
            }
        }
    }

    
}
// end styles of DROPDOWN date
