<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Colors and Type
    body
        include ./includes/color_block
        .wrapper
            .colors
                +square("color-block_dark-shade-100", "Dark Shade 100%", "#1F2041")
                +square("color-block_dark-shade-75", "Dark Shade 75%", "#1F2041")
                +square("color-block_dark-shade-50", "Dark Shade 50%", "#1F2041")
                +square("color-block_dark-shade-25", "Dark Shade 25%", "#1F2041")
                +square("color-block_dark-shade-5", "Dark Shade 5%", "#1F2041")
                +square("color-block_purple", "Purple", "#BC9CFF")
                +square("color-block_green", "Green", "#6FCF97")
            .headers
            
        