<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Form elements
    body
        include ./includes/elements
        
        img(src="../../src/assets/png/logo.png" class="logo")
        .wrapper
            +text-field("text field", "Email")

            +dropdown("Dropdown", "Сколько гостей?", "")
            +date_dropdown("date dropdown")
        script(src="../../src/js/elements/elements_functions.js")
            
            
            
            
            
            