<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Form elements
    body
        include ./includes/elements
        .wrapper
            img(src="../../src/assets/png/logo.png" class="logo")
            +text-field("text field")